html, body {
  background-color: #ffd4bb;
}

h2, h1 {
  font-size: 2rem;
  color: #f1935d;
  text-align: center;
  text-shadow: -1px 1px 1px #f1935d;
}

label {
  display: block;
  color: white;
  text-shadow: -1px 1px 1px #f1935d;
  font-size: 1.5rem;
  text-align: left;
}

.table-dark {
  color: #fff;
  background-color: #5d3589;
  border-radius: 2%;
  box-shadow: 0px 2px 3px 0px #4a4a4a;
}

.title_header {
  font-size: 2rem;
  color: #f1935d;
  text-shadow: -1px 1px 1px #f1935d;
}

.navbar-social {
  background-color: #5D3589 !important;
  box-shadow: 1px 2px 2px 0px #f18140;
}

.title_btn {
  color: #AF501A;
  background-color: #f1935d;
  border-color: #f1935d;
  transition: all 2.s;
  box-shadow: 1px 2px 2px 0px #f18140;
}

.title_btn:hover {
  color: white;
  background-color: #D67138;
  border-color: #D67138;
}

.title_header:hover {
  color: white;
  text-decoration: none;
}

.login {
  padding: 50px;
  margin: 5%;
  background-color: #5D3589;
  box-shadow: 1px 2px 2px 0px #f18140, -3px -1px 2px 0px #f18140;
}

.form-control {
  margin-top: -15px;
  color: #ffffff !important;
  background-color: #f1935d !important;
}

.form-control {
  color: #ffffff;
  background-color: #f1935d;
  border-color: #f1935d;
}

.form-control:focus {
  border-color: #f1935d;
  box-shadow: 2px 1px 8px 0rem #424242;
}

.senha-text{
  color: white;
}

.link-text{
  color:white;
}

.link-text:hover{
  color:white;
}
