<h1>Editar Ingresso</h1>

<%= render 'form', ingresso: @ingresso %>

<%= link_to 'Mostrar', @ingresso , :class => "btn btn-outline-danger title_btn"%>
<%= link_to 'Voltar', ingressos_path, :class => "btn btn-outline-danger title_btn" %>
