<h1>Editar Ingresso</h1>

<%= render 'form', ingresso: @ingresso %>

<%= link_to 'Show', @ingresso , :class => "btn btn-outline-danger title_btn"%>
<%= link_to 'Back', ingressos_path, :class => "btn btn-outline-danger title_btn" %>
