<h1>Editar Comprador</h1>

<%= render 'form', comprador: @comprador %>

<%= link_to 'Mostar', @comprador , :class => "btn btn-outline-danger title_btn"%>
<%= link_to 'Voltar', compradors_path , :class => "btn btn-outline-danger title_btn"%>
